@model VillaViewModel



<div class="card col-md-6">
    <img class="card-img-top" src="@Model.Photo" alt="@Model.Name">
    <div class="card-body">
        <h5 class="card-title">@Model.Name</h5>
        <p class="card-text">@Model.Capacity</p>
        <a asp-controller="Villa" asp-action="Details" asp-route-id="@Model.Id" class="btn btn-primary">Details</a>
    </div>
</div>            }
