@model VillaQueryServiceModel

@{ ViewBag.Title = "All Villas"; }

<style>
    img {
        float: left;
        width: 100px;
        height: 100px;
        object-fit: cover;
    }
</style>

<form method="get">
    <div class="input-group">
        <input class="form-control" asp-for="SearchTerm"/>
        <div class="input-group-append">
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </div>
</form>

@*<form method="get">
    <div class="row">
        <div class="form-group col-md-6">
            <label asp-for="SearchTerm"></label>
            <input asp-for="SearchTerm" class="form-control" placeholder="Villa Name etc...">
        </div>

        <div class="form-group col-md-6">
            <div class="form-group">
                <label asp-for="Sorting"></label>
                <select asp-for="Sorting" class="form-control">
                    <option value="0" selected>Date Created</option>
                    <option value="1">City</option>
                    <option value="2">Category</option>
                </select>
            </div>
        </div>
    </div>
</form>*@

@*@{ var previousPage = Model.CurrentPage - 1;
    if (previousPage < 1)
    {
        previousPage = 1;
    }

var maxPage = Math.Ceiling((double)Model.TotalVillas / AllVillasQueryModel.VillasPerPage); }*@

@*<div class="row mb-5">
    <div class="col-md-6">
        <a class="btn btn-primary @(Model.CurrentPage == 1 ? "disabled" : string.Empty)"
           asp-controller="Home"
           asp-action="AllVillas"
           asp-route-brand="@Model.Name"
           asp-route-searchTerm="@Model.SearchTerm"
           asp-route-sorting="@((int)Model.Sorting)"><<</a>
    </div>
</div>*@

<partial name="_VillasPartial" model="@Model.Villas" />
