@model List<VillaBNB.Models.BookingViewModel>

<table class="table table-bordered table-striped">
    <caption>List of Bookings</caption>
    <thead class="thead-dark">
        <tr>
            <th scope="col">VillaId</th>
            <th scope="col">Start Date</th>
            <th scope="col">End Date</th>
            <th scope="col">Price Per Night</th>
            <th scope="col">Price Total</th>
            <th scope="col">People</th>

        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Count(); i++)
        {
        <tr>
            <td>@Model[i].VillaName</td>
            <td>@Model[i].StartDate.ToShortDateString()</td>
            <td>@Model[i].EndDate.ToShortDateString()</td>
            <td>@Model[i].PricePerNight</td>
            <td>@Model[i].TotalCost</td>
            <td>@Model[i].PeopleCount</td>

        </tr>
        }

    </tbody>
</table>
