@model List<VillaBNB.Data.Models.Booking>

<table class="table table-bordered table-striped">
    <caption>List of Bookings</caption>
    <thead class="thead-dark">
        <tr>
            <th scope="col">VillaId</th>
            <th scope="col">Price</th>
            <th scope="col">Start Date</th>
            <th scope="col">End Date</th>
            <th scope="col">Booking Owner</th>
            <th scope="col">Villa</th>

        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Count(); i++)
        {
        <tr>
            <td>@Model[i].VillaId</td>
            <td>@Model[i].TotalPrice</td>
            <td>@Model[i].StartDate.ToShortDateString()</td>
            <td>@Model[i].EndDate.ToShortDateString()</td>
            <td>@Model[i].UserId</td>
            <td>@Model[i].Villa</td>

        </tr>
        }

    </tbody>
</table>
